#editPlayerBox {
    position: absolute;
    z-index: 9;
    background-color: #0f2027;
    border: 1px solid #0f2027;
    text-align: center;
  }
  
  #editPlayerBoxheader {
    padding: 10px;
    cursor: move;
    z-index: 10;
    background-color: #0f2027;
    color: RGB(218, 170, 0);
  }
  #testButton
{
    /* background-image: url("http://placekitten.com/200/300") !important; */
    width: 15px !important;
    height: 20px !important;
    border: 0 none transparent !important;
    padding:0 !important;
    margin:0 !important;
}
#closeButton {
  line-height: 12px;
  width: 18px;
  font-size: 8pt;
  margin-top: 1px;
  margin-right: 2px;
  position:absolute;
  top:0;
  right:0;
}